<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ProEventos</a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Eventos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Palestrantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openModal(template)">Contatos</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vinícius
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" href="#">
              Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Adicionar um usuário</p>
    <form #userForm="ngForm" (ngSubmit)="addUser($event)">
      <label for="userName">User name:</label><br>
      <input type="text" id="userName" name="userName" [(ngModel)]="userName" required><br>
      <label for="userEmail">E-mail:</label><br>
      <input type="text" id="userEmail" name="userEmail" [(ngModel)]="userEmail" required><br>
      <label for="userEmail">Senha:</label><br>
      <input type="password" id="userPassword" name="userPassword" [(ngModel)]="userPassword" required><br>
      <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
      <label for="userAdmin">Full-Access:</label><br>
      <input type="checkbox" id="userAdmin" name="userAdmin" [(ngModel)]="userAdmin"><br><br>
      <input type="submit" id="submit" value="Enviar"><br><br>
    </form>
  </div>
</ng-template>
