<div>
    <form (submit)="login()" autocomplete="on">
        <h1>Sistema Eventos</h1>
        <div class="form-control">
            <label for="email">Username</label>
            <input type="email" autocomplete="email"/>
        </div>
        <div class="form-control">
            <label for="password">Senha</label>
            <input type="password" autocomplete="new-password"/>
        </div>
        <div class="form-control">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<div>
    <p (click)="forgetPassword()" ngClass="onHouverUnderline">Esqueci a senha</p>
</div>
